<div class="statistics">
    <div class="profit-per-hour">
        <div class="icon-wrapper">
            <img src="assets/home/profit-per-hour.png" alt="profit-per-hour">
        </div>
        <div class="data-wrapper">
            <div class="title">
                <div class="text-nowrap">Profit Per Hour </div>
                <div>
                    <img src="assets/home/Info.png" alt="info">
                </div>
            </div>
            <div class="value">
                443.22K
            </div>
        </div>
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>
