.invest-banner {
    @apply p-5 flex flex-col gap-5 my-2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    .logo {

    }
    .description {
        @apply text-slate-100 text-xs;
        max-width: 60%
    }
}