

<app-banner
    [mainImg]="investBanner.mainImg"
    [description]="investBanner.description"
    [logo]="investBanner.logo"
>
    <div class="media">
        <div class="media-item">
            <a [href]="investBanner.media.website">
                <img src="assets/invest/twitter.png" alt="">
            </a>
        </div>
        <div class="media-item">
            <a [href]="investBanner.media.twitter">
                <img src="assets/invest/website.png" alt="">
            </a>
        </div>
        <div class="media-item">
            <a [href]="investBanner.media.facebook">
                <img src="assets/invest/facebook.png" alt="">
            </a>
        </div>
        <div class="media-item">
            <a [href]="investBanner.media.instagram">
                <img src="assets/invest/instagram.png" alt="">
            </a>
        </div>
        <div class="media-item">
            <a [href]="investBanner.media.tiktok">
                <img src="assets/invest/tiktok.png" alt="">
            </a>
        </div>
        <div class="media-item">
            <a [href]="investBanner.media.telegram">
                <img src="assets/invest/telgrame.png" alt="">
            </a>
        </div>
        <div class="media-item">
            <a [href]="investBanner.media.youtube">
                <img src="assets/invest/youtube.png" alt="">
            </a>
        </div>
    </div>

</app-banner>