:root {
    // colors
    --main-color: #DD1212;
    --black-color: #151515;
    --black-color-secondary: #292929;
    --green-color: #4CAF50;
    --yellow-color: #FFC107;
    --gray-color: #28353A;
    --main-gradient: linear-gradient(to right, #00B7E8 0%, #04BC75 25%, #FFDA00 50%, #D30F0F 100%);
}