<div class="h-full">
  <!-- <div class="flex flex-col justify-between gap-1 h-vh">
    <div class="flex flex-col">
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
    @if(isMainPage) {
      <div>
        <app-tab-bar></app-tab-bar>
      </div>
    }

    
  </div> -->
  <div class="flex flex-col" style="height: 100vh;">
    <div>
      <app-header></app-header >
    </div>
    <div [ngStyle]="{height: isMainPage ? '80vh': '90vh'}" style="overflow: auto;">
      <router-outlet></router-outlet>
    </div>
    @if(isMainPage) {
      <div style="height: 10vh;">
        <app-tab-bar></app-tab-bar>
      </div>
    }
  </div>
</div>


<app-modal
  [isOpen] = "isMainModalOpen"
  (handleOnClose)="mainModalService.closeModal()"
>
  @if(isMainModalOpen) {
    <app-main-modal
      [imgSrc]="modalData.imgSrc"
      [title]="modalData.title"
      [subtitle]="modalData.subtitle"
      [buttonTitle]="modalData.buttonTitle"
      [buttonColor]="modalData.buttonColor"
      [navigationRoute]="modalData.navigationRoute"
      [content]="modalData.content"
    >
  </app-main-modal>
  }
</app-modal>

