.daily-reward-modal-wrapper {
    @apply flex justify-center items-center px-5 pb-5;
    .daily-reward-modal {
        @apply flex flex-col gap-5;
        // .img-title-subtitle {
        //     @apply flex flex-col justify-end;
        //     width: 100%;
        //     height: 229px;  
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     background-position: center;
        //     @apply flex flex-col items-center gap-2;
        //     .title {
        //         @apply text-white text-lg font-bold text-center;
        //     }
        //     .subtitle {
        //         @apply text-slate-400 text-sm text-center;
        //     }
    
        // }
        .subtitle2 {
            background-color: #1C1C1C;
            width: fit-content;
            margin: auto;
            @apply rounded-md p-2 flex gap-2 items-center;
            .img-wrapper {
                margin: auto;
                width: 15px;
                height: 15px;
                img {
                    @apply w-full h-full;
                }
            }
            .value {
                @apply text-white text-sm
            }
            .desc {
                @apply text-slate-400 text-sm
            }
        }
        .cost-ivi {
            @apply flex flex-col gap-2;
            .img-wrapper {
                margin: auto;
                width: 35px;
                height: 35px;
                img {
                    @apply w-full h-full;
                }
            }
            .cost {
                @apply text-white text-lg font-bold text-center;
            }
            .ivi {
                @apply text-slate-400 text-sm  text-center;
            }
        }
    }
}
