<div class="bonus-modal-wrapper" (click)="onClickInsideDialog($event)">
    <div class="bonus-modal">
        <!-- <div class="img-title-subtitle" [style]="{
            backgroundImage: 'url(' + imgSrc() + ')'
        }">
            <div>
                <div class="title">{{title()}}</div>
                <div class="subtitle">{{subtitle()}}</div>
            </div>

        </div> -->
        <app-top-header
        [title]="title()"
        [subtitle]="subtitle()"
        [imgSrc]="imgSrc()"
        ></app-top-header>
        <!-- @if(subtitle2() && subtitle2Val()) {
            <div class="subtitle2">
                <div class="img-wrapper">
                    <img src="assets/logo/logo.png" alt="">
                </div>
                <div class="value">{{subtitle2Val()}}</div>
                <div class="desc">{{subtitle2()}}</div>
            </div>
        } -->
    
        <div class="cost-ivi">
            <div class="img-wrapper">
                <img src="assets/logo/logo.png" alt="">
            </div>
            <div class="cost">{{cost()}}</div>
            <!-- @if(lvl()) {
                <div class="ivi">
                    {{lvl()}}
                </div>
            } -->
    
        </div> 
        <div class="use-button-wrapper">
            <app-button (handleClickEvent)="redeemTask()" [borderColor]="'linear-gradient(to right, #00B7E8 0%, #04BC75 25%, #FFDA00 50%, #D30F0F 100%)'">
                <span class="button-text">Use</span>
            </app-button>
        </div>
    </div>
</div>

