<div class="profile-invites">
    <div class="profile-invites-header">
        <div class="icon-title">
            <div class="icon">
                <img src="assets/profile/invites.png" alt="Invites">
            </div>
            <div class="title-subtitle">
                <div class="title">
                    Invites
                </div>
                <div class="subtitle">
                    {{numOfInvites()}} invites
                </div>
            </div>
        </div>
        <div class="action">
            <img src="assets/arrow-right.png" alt="">
        </div>
    </div>
    <div class="profile-invites-statistics">
        <div class="total-referrals-invited">
            <div class="title">
                Total Referrals Invited
            </div>
            <div class="value-logo">
                <div class="logo">
                    <img src="assets/logo/logo.png" alt="">
                </div>
                <div class="value">
                    {{totalReferralInvited()}}
                </div>
            </div>
        </div>
        <div class="total-referrals-points">
            <div class="title">
                Total Referrals Points
            </div>
            <div class="value-logo">
                <div class="logo">
                    <img src="assets/logo/logo.png" alt="">
                </div>
                <div class="value">
                    {{totalReferralPoints()}}
                </div>
            </div>
        </div>
    </div>
    <div class="profile-invites-share">
        <div class="share-icon-title">
            <div class="share-icon">
                <img src="assets/profile/share.png" alt="Share">
            </div>
            <div class="share-title">
                Share your invitation link and code
            </div>
        </div>
        <div class="share-link">
            <img src="assets/profile/link.png" alt="Link">
        </div>
    </div>
</div>